# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.env
venv/
env/
.env/
*.sqlite3

# Ktor / Kotlin / Gradle Build folders
**/build/
**/out/
.gradle/
.gradle-cache/
.gradle-wrapper/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / JetBrains
.idea/
*.iml
*.iws
*.ipr

# OS generated
.DS_Store
Thumbs.db

# Docker
*.dockerfile
docker-compose.override.yml

# Misc temp
*.swp
*.tmp
*.bak
*.orig